<!DOCTYPE html>
<html lang="en">

<head>
  <title>Examples - Vanilla Image Builder</title>
  <meta property="og:title" content="Examples - Vanilla Image Builder">
  <meta name="twitter:title" content="Examples - Vanilla Image Builder">
  {{> head}}
</head>

<body class="bg-gray-900 text-gray-100">
  {{> nav}}
  <header class="text-center py-40">
    <h1 class="text-3xl md:text-5xl font-bold mb-4">Examples of Vib Recipes</h1>
    <p class="mb-10 text-xl">Learn to use Vib through these simple recipe
      examples.</p>
  </header>

  <div class="container mx-auto">

    <section class="mb-10">
      <h2 class="text-3xl text-white font-bold mb-4">Node.js App</h2>
      <p class="text-xl text-white mb-6">
        Showcasing a simple Node.js application containerized with Vib.
      </p>
      <div class="bg-gray-800 px-6 rounded-lg shadow-lg glass-effect overflow-x-auto">
        <pre class="text-xl text-gray-300"><code class="language-yaml">name: my-recipe
id: my-node-app
stages:
  - id: build
    base: node:current-slim
    labels:
      maintainer: My Awesome Team
    args:
      DEBIAN_FRONTEND: noninteractive
    expose: 
      "3000": ""
    entrypoint:
      exec:
        - node
        - /app/app.js
    runs:
      commands:
	      - echo 'APT::Install-Recommends "0";' > /etc/apt/apt.conf.d/01norecommends
    modules:
    - name: build-app
      type: shell
      source:
        type: git
        url: https://github.com/mirkobrombin/node-sample
        branch: main
        commit: latest
      commands:
        - mv /sources/build-app /app
        - cd /app
        - npm i
        - npm run build
      </code></pre>
      </div>
      <p class="text-xl text-white mt-6">
        This image uses a single module to build a Node.js application from a Git
        repository. The application is then installed and built using
        <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">npm</code>.
      </p>
      <p>Then it exposes the port
        <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">3000</code>
        and sets the entrypoint to
        <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">node
        /app/app.js</code>.
      </p>
    </section>

    <section class="mb-10">
      <h2 class="text-3xl text-white font-bold mb-4">Compile Software from Source</h2>
      <p class="text-xl text-white mb-6">
        This recipe demonstrates how to compile Vib from source using a Vib
        recipe. While this looks like a dumb idea, it's a great way to learn how
        to use Vib.</p>
      <div class="bg-gray-800 px-6 rounded-lg shadow-lg glass-effect overflow-x-auto">
        <pre class="text-xl text-gray-300"><code class="language-yaml">name: my-recipe
id: my-go-app
stages:
  - id: build
    base: debian:sid-slim
    labels:
      maintainer: My Awesome Team
    args:
      DEBIAN_FRONTEND: noninteractive
    runs:
      commands:
        - echo 'APT::Install-Recommends "0";' > /etc/apt/apt.conf.d/01norecommends
    modules:
    - name: update
      type: shell
      commands:
        - apt update
        
    - name: vib
      type: go
      source:
        type: git
        url: https://github.com/vanilla-os/vib
        branch: main
        commit: latest
      buildVars:
        GO_OUTPUT_BIN: /usr/bin/vib
      modules:
        - name: golang
          type: apt
          source:
          packages:
            - golang
            - ca-certificates</code></pre>
      </div>
    </section>
    <p class="text-xl text-white mt-6">
      This recipe goes a step further by using three different modules, where two
      of them are nested. Basically we have the following modules:
    </p>
    <ul class="text-xl text-white mt-6 list-disc">
      <li class="mb-4">
        <p class="text-xl text-white mt-6">
          <b>update</b>
          is a simple
          <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">shell</code>
          module that updates the package list of the system.
        </p>
      </li>
      <li>
        <p class="text-xl text-white">
          <b>vib</b>
          is a
          <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">go</code>
          module that compiles Vib from source. There are some important details
          here:
        </p>
        <ul class="text-xl text-white my-4 list-disc list-inside pl-4">
          <li class="mb-4"><code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">source</code>
            is a
            <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">git</code>
            source that points to the Vib repository, Vib will automatically clone
            the repository and place it in the
            <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">project/sources</code>
            directory. We are explicitly specifying the
            <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">branch</code>
            and
            <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">commit</code>
            to obtain the latest version of Vib.
          </li>
          <li class="mb-4"><code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">buildVars</code>
            is a map of environment variables that will be used during the build
            process. In this case, we are setting the
            <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">GO_OUTPUT_BIN</code>
            variable to
            <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">/usr/bin/vib</code>, which means
            that the Vib binary will be placed
            in the
            <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">/usr/bin</code>
            directory of the image. Vib will pass these variables to the build
            process.
          </li>
          <li><code class="mb-4 bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">modules</code>
            is a list of modules that will be executed in the context of the
            <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">go</code>
            module. These takes precedence over the top-level modules.
          </li>
        </ul>
      </li>
      <li class="mb-4">
        <p class="text-xl text-white">
          <b>golang</b>
          is an
          <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">apt</code>
          module that installs the
          <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">golang</code>
          and
          <code class="bg-gray-800 p-1 rounded-lg shadow-lg glass-effect">ca-certificates</code>
          packages. Vib converts these instructions into apt commands, also it
          will ask for a cleanup as the final step, to ensure apt removes any
          unnecessary packages no longer required.
        </p>
      </li>
    </ul>
  </div>

  <section class="bg-gray-800 text-white mt-20 py-20 text-center">
    <h2 class="text-3xl font-bold mb-4">Ready to Go Deeper?</h2>
    <p class="text-xl mb-8">Learn more about the structure of Vib recipes and how to use them.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-center items-center max-w-2xl mx-auto px-8">
      <a href="https://images.vanillaos.org/#/"
        class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-3 px-6 rounded-full transition duration-300">
        More Examples
      </a>
      <a href="https://docs.vanillaos.org/vib/en/project-structure"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-full transition duration-300">
        Read the Docs
      </a>
    </div>
  </section>

  {{> footer}}
  {{> foot}}
</body>

</html>
