<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vib - Vanilla Image Builder</title>
  <meta property="og:title" content="Vib - Vanilla Image Builder">
  <meta name="twitter:title" content="Vib - Vanilla Image Builder">
  {{> head}}
</head>

<body class="bg-gray-900 text-gray-100">
  {{> nav}}

  <header class="text-center py-40">
    <h1 class="text-3xl md:text-5xl font-bold mb-4">The Easiest Way to Build Container Images</h1>
    <p class="mb-10 text-xl">Remove the complexity of Dockerfiles and build your container images with simple, yet
      powerful YAML recipes.</p>
    <a href="/examples"
      class="bg-white hover:bg-gray-200 text-gray-900 font-bold text-xl rounded-full py-4 px-8 shadow-lg tracking-wider transition duration-300">Learn
      by Examples</a>
  </header>

  <section class="container mx-auto my-16 px-6 space-y-8">
    <h2 class="text-4xl font-bold text-center mb-6">Why Choose Vib?</h2>
    <p class="text-center text-xl text-gray-300">Well, there are many reasons to choose Vib, but here are a few of them.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="bg-gray-800 p-6 rounded-lg shadow-md glass-effect">
        <h3 class="font-bold text-xl mb-2 text-blue-400">Modular Recipe Format</h3>
        <p>Define your container image with simple YAML recipes, separating concerns into modules for clean,
          readable definitions.</p>
      </div>
      <div class="bg-gray-800 p-6 rounded-lg shadow-md glass-effect">
        <h3 class="font-bold text-xl mb-2 text-blue-400">Easy to Use</h3>
        <p>Build your container images with a simple command, integrating smoothly into your development
          workflow.</p>
      </div>
      <div class="bg-gray-800 p-6 rounded-lg shadow-md glass-effect">
        <h3 class="font-bold text-xl mb-2 text-blue-400">Extensible with Plugins</h3>
        <p>Extend the functionality of Vib with plugins, allowing you to integrate with your existing tools and
          services.</p>
      </div>
      <div class="bg-gray-800 p-6 rounded-lg shadow-md glass-effect">
        <h3 class="font-bold text-xl mb-2 text-red-300">Built for Developers ❤️</h3>
        <p>Designed by cloud-native developers, Vib is built to make your life easier, allowing you to focus on
          your code.</p>
      </div>
    </div>
  </section>

  <section class="bg-gradient-to-r from-blue-800 to-blue-500 py-16 text-white">
    <div class="container mx-auto px-6 text-center">
      <h2 class="text-4xl font-bold mb-6">How Vib Works</h2>
      <p class="text-xl mb-12">The process is simple as counting 1, 2, 3.</p>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-gray-800 rounded-lg shadow-lg glass-effect p-6">
          <h3 class="text-2xl font-bold mb-4">1. Write a Recipe</h3>
          <p class="text-xl">Write a simple YAML recipe that describes how to build your container image.</p>
        </div>
        <div class="bg-gray-800 rounded-lg shadow-lg glass-effect p-6">
          <h3 class="text-2xl font-bold mb-4">2. Run Vib</h3>
          <p class="text-xl">Run Vib with your recipe, and watch it build your container image in seconds.</p>
        </div>
        <div class="bg-gray-800 rounded-lg shadow-lg glass-effect p-6">
          <h3 class="text-2xl font-bold mb-4">3. Use Your Image</h3>
          <p class="text-xl">Use your container image with Docker, Podman, or any other container runtime.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container mx-auto my-16 flex flex-col items-center">
    <h2 class="text-4xl font-bold mb-6 text-center">Familiarize With Recipes</h2>
    <p class="text-xl mb-12 text-center">We chose YAML as the format for recipes, because it's easy to read and write,
      and it's familiar to most developers.</p>
    <div class="bg-gray-800 px-6 rounded-lg shadow-lg glass-effect overflow-x-auto w-full max-w-5xl">
      <pre class="text-xl text-gray-300"><code class="language-yaml">name: My recipe
id: my-recipe
stages:
  - id: build
    base: debian:sid-slim
    labels:
      maintainer: My Awesome Team
    args:
      DEBIAN_FRONTEND: noninteractive
    runs:
      commands:
        - echo 'APT::Install-Recommends "0";' > /etc/apt/apt.conf.d/01norecommends
    modules:
      - name: update
        type: shell
        commands:
          - apt update
          
      - name: vib
        type: go
        source:
          type: git
          url: https://github.com/vanilla-os/vib
          branch: main
          commit: latest
        buildVars:
          GO_OUTPUT_BIN: /usr/bin/vib
        modules:
          - name: golang
            type: apt
            source:
              packages:
              - golang
              - ca-certificates
      </code></pre>
    </div>
  </section>


  <section class="bg-gradient-to-r from-blue-800 to-blue-500 py-16 text-white">
    <div class="container mx-auto px-6 text-center">
      <h2 class="text-3xl font-bold mb-4">Get Started with Vib</h2>
      <p class="mb-10">Vib is easy to install and use, just download the binary, place it anywhere in your PATH, and
        you're ready to go.</p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-center items-center max-w-2xl mx-auto px-8">
        <a href="https://github.com/Vanilla-OS/Vib/releases"
          class="bg-gray-800 hover:bg-gray-700 text-white font-bold text-xl rounded-full py-4 px-8 shadow-lg tracking-wider transition duration-300">
          Download Vib</a>
        <a href="https://docs.vanillaos.org/vib/en/getting-started"
          class="bg-white hover:bg-gray-200 text-black font-bold text-xl rounded-full py-4 px-8 shadow-lg tracking-wider transition duration-300">
          Get Started</a>
      </div>
    </div>
  </section>

  {{> footer}}
  {{> foot}}
</body>

</html>