<footer class="bg-gray-800 py-12">
  <div class="container mx-auto text-center">
    <ul class="flex flex-col md:flex-row md:justify-center md:space-x-8 space-y-4 md:space-y-0">
      <li>
        <a href="/examples" class="hover:text-gray-300">Examples</a>
      </li>
      <li>
        <a href="https://docs.vanillaos.org/collections/vib" class="hover:text-gray-300">Documentation</a>
      </li>
      <li>
        <a href="https://vanillaos.org/community" class="hover:text-gray-300">Support</a>
      </li>
      <li>
        <a href="https://github.com/vanilla-os/vib" class="hover:text-gray-300">Source Code</a>
      </li>
      <li>
        <a href="https://fabricators.ltd/en/contact.html" class="hover:text-gray-300">Enterprise</a>
      </li>
    </ul>
    <div class="mt-8">
      <p>&copy; 2024 <a href="https://vanillaos.org/" class="hover:text-gray-300">Vanilla OS</a>. All rights reserved.
        Sponsored by <a href="https://fabricators.ltd" class="hover:text-gray-300">fabricators.ltd</a></p>
    </div>
  </div>
</footer>