name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
        image: ghcr.io/vanilla-os/pico:main
    permissions:
      contents: write # to upload assets to releases
      attestations: write # to upload assets attestation for build provenance
      id-token: write # grant additional permission to attestation action to mint the OIDC token permission

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.22

    - name: Install Build Dependencies
      run: |
        apt-get update
        apt-get install -y libbtrfs-dev libdevmapper-dev pkg-config build-essential

    - name: Build
      run: |
        go get ./...
        make build

    - name: Build plugins
      run: |
        go get ./...
        make build-plugins
        tar cvf plugins.tar.xz build/plugins

    - name: Upload a Release Asset
      if: github.repository == 'Vanilla-OS/Vib'
      uses: softprops/action-gh-release@v2
      with:
        files: |
          build/vib
          plugins.tar.xz
    
    - name: Attest generated files
      if: github.repository == 'Vanilla-OS/Vib'
      id: attest
      uses: actions/attest-build-provenance@v1
      with:
        subject-path: 'build/vib, plugins.tar.xz'
