name: Release

on:
  push:
    tags:
      - 'v*'

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.21

    - name: Build
      run: |
        go get ./...
        go build -o vib -trimpath

    - name: Upload a Release Asset
      uses: softprops/action-gh-release@v1
      with:
        files: vib
